{
"metric_prefix":"Custom Metrics|Apigee",
"query_interval_in_secs": 1800,
"query_limit": 120,

 "connection_details": [
    {
      "host_url": "https://api.enterprise.apigee.com",
    <% case node.chef_environment %>
    <% when 'Development', 'Acceptance', 'QAP' %>
      "org": "ihg-dev",
      "env": "dev",
    <% when 'Integration' %>
      "org": "ihg-cert",
      "env": "int",
    <% when 'QA', 'Staging', 'Perftest' %>
      "org": "ihg-cert",
      "env": "staging",
    <% when 'Production', 'UTC', 'Training' %>
      "org": "ihg-prod",
      "env": "prod",
    <% end %>
      "server_friendly_name": "Apigee-Cloud",
      "username": "EnterpriseSystemIntegrationSupport@ihg.com",
      "use_proxy_filter": false,
      "password": "ESImw2020@"
    }
  ],

  "enable_BiQ": false
}
