<!--
  ~ Copyright 2018. AppDynamics LLC and its affiliates.
  ~ All Rights Reserved.
  ~ This is unpublished proprietary source code of AppDynamics LLC and its affiliates.
  ~ The copyright notice above does not evidence any actual or intended publication of such source code.
  -->

<monitor>
    <name>CommandWatcher</name>
    <type>managed</type>
    <enabled><%= @state %></enabled>
    <description>CommandWatcher</description>
    <monitor-configuration></monitor-configuration>
    <monitor-run-task>
        <execution-style>periodic</execution-style>
        <execution-frequency-in-seconds>60</execution-frequency-in-seconds>
        <name>CommandWatcher Run Task</name>
        <display-name>CommandWatcher Task</display-name>
        <description>CommandWatcher Task</description>
        <type>java</type>
        <execution-timeout-in-secs>60</execution-timeout-in-secs>
        <task-arguments>
            <!-- config file-->
            <argument name="config-file" is-required="true" default-value="monitors/CommandWatcher/config.yml" />
            <argument name="log-prefix" is-required="false" default-value="[CommandWatcherAppDExt] " />
        </task-arguments>
        <java-task>
            <classpath>CommandWatcher.jar</classpath>
            <impl-class>com.appdynamics.extensions.commandwatcher.CommandWatcherMonitor</impl-class>
        </java-task>
    </monitor-run-task>
</monitor>
