# List of commands
commandToProcess:
<% @monitors.each do |name, mon| %>
- displayName: "<%= name %>"
 <% case name.downcase %>
 <% when /^netstat/ %>
  command: "netstat -an | grep <%= mon['port'] %> | grep <%= mon['protocol'] %> | grep <%= mon['state'] %> | wc -l"
  isScript: false
 <% when /^port/ %>
 <% if mon['host'] == 'localhost'  %>
  command: "if (echo 'test' > /dev/tcp/<%= node['ipaddress'] %>/<%= mon['port'] %> || /usr/bin/nc <%= node['ipaddress'] %> <%= mon['port'] %> </dev/null >/dev/null) 2>/dev/null; then echo 1; else echo 0; fi"
  isScript: false
 <% else %>
  command: "if (echo 'test' > /dev/tcp/<%= mon['host'] %>/<%= mon['port'] %> || /usr/bin/nc <%= mon['host'] %> <%= mon['port'] %> </dev/null >/dev/null) 2>/dev/null; then echo 1; else echo 0; fi"
  isScript: false
 <% end %>
 <% when /^websphere/ %>
  command: '/usr/bin/perl -e "use POSIX qw/setgid setuid/; (\$user,\$pw,\$uid,\$gid) = getpwnam(\"mqm\"); setgid(\$gid);setuid(\$uid); \$output = \`echo \"DISPLAY QSTATUS(<%= mon['queue'] %>)\" | runmqsc <%= mon['manager'] %>\`; print \$1 if \$output =~ /.*<%= mon['metric'] %>\((\d+)\).*\$/s;"'
  isScript: false
 <% end %>
<% end %>
metricPrefix: "Custom Metrics|"

#This will create it in specific Tier. Replace <TIER_ID>
#metricPrefix: "Server|Component:<TIER_ID>|Custom Metrics|Command Watcher|"
