### ANY CHANGES TO THIS FILE DOES NOT REQUIRE A RESTART ###
#This will create this metric in all the tiers, under this path
#metricPrefix: Custom Metrics|JMX Monitor

#This will create it in specific Tier. Replace <TIER_NAME>
#metricPrefix: 'Server|Component:<TIER_NAME or ID>|Custom Metrics|JMX Monitor'
metricPrefix: '|Custom Metrics|JMX Monitor|'

# List of JMX Servers
servers:
  # displayName is a required field. This will be your server name that will show up in metric path.
  - displayName: 'localhost'

    # You can either use just a host and port to connect or use your full serviceURL to make the connection
    # Do not choose both, comment one out and only use the other.
    # host: ''
    # port:

    serviceUrl: '<%= @monitors['connection']['serviceUrl'] %>'

    username: '<%= @monitors['connection']['user'] %>'
    password: '<%= @monitors['connection']['user'] === 'jmxmon' ? 'm0n1t0r' : 'smx' %>'

    # You can either use the normal password or encrypt your password and provide the encrypted Password and encryptionKey.
    # Do not provide both, only provide one and comment out the other.

    # encryptedPassword: ''
    # encryptionKey: ''

# number of concurrent tasks.
# This doesn't need to be changed unless many servers are configured
numberOfThreads: 10

# timeout for the thread
threadTimeout: 30
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#                                      List of metrics
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Glossary of terms(These terms are used as properties for each metric):
#   alias
#   aggregationType
#   timeRollUpType
#   clusterRollUpType
#   multiplier -->not for derived metrics
#   convert --> not for derived metrics
#   delta --> not for derived metrics
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

mbeans:
<% @monitors['mons']['mbeans'].each do |objectName, attributes| %>
  - objectName: '<%= objectName %>'
    mbeanKeys: ['<%= objectName.scan(/([\w\.]*)=/).flatten.join("', '") %>']
    metrics:
      include:
      <% attributes.each do |attribute, val| %>
        - <%= attribute %>: '<%= attribute %>'
        <% if !val['regex'].empty? && val['regex'] =~ /\D+/ %>
          convert:
          <% if val['regex'] =~ /true|false/i %>
            'false': 0
            'true': 1
          <% else %>
            '<%= val['regex'] %>': 1
          <% end %>
        <% end %>
      <% end %>
<% end if @monitors['mons'].include?('mbeans') %>

<% if @monitors['mons'].include?('heap') && !@monitors['mons']['heap'].empty? %>
  - objectName: 'java.lang:type=MemoryPool,name=<%= @monitors['mons']['heap'] %>'
    mbeanKeys: ['type', 'name']
    metrics:
      include:
        - Usage.max: 'Usage|max'
        - Usage.used: 'Usage|used'
<% end %>
  - objectName: 'java.lang:type=Threading'
    mbeanKeys: ['type']
    metrics:
      include:
        - ThreadCount: 'ThreadCount'
