<!--
  ~   Copyright 2018. AppDynamics LLC and its affiliates.
  ~   All Rights Reserved.
  ~   This is unpublished proprietary source code of AppDynamics LLC and its affiliates.
  ~   The copyright notice above does not evidence any actual or intended publication of such source code.
  ~
  -->

<monitor>
    <name>JMXMonitor</name>
    <type>managed</type>
    <enabled><%= @state %></enabled>
    <description>JMX monitor</description>
    <monitor-configuration/>
    <monitor-run-task>
        <execution-style>periodic</execution-style>
        <execution-frequency-in-seconds>60</execution-frequency-in-seconds>
        <name>JMX Monitor Run Task</name>
        <display-name>JMX Monitor Task</display-name>
        <description>JMX Monitor Task</description>
        <type>java</type>
        <execution-timeout-in-secs>60</execution-timeout-in-secs>
        <task-arguments>
            <argument name="config-file" is-required="true" default-value="monitors/JMXMonitor/config.yml"/>
        </task-arguments>
        <java-task>
            <classpath>jmx-monitoring-extension.jar</classpath>
            <impl-class>com.appdynamics.extensions.jmx.JMXMonitor</impl-class>
        </java-task>
    </monitor-run-task>
</monitor>