<!--
  ~  Copyright 2018. AppDynamics LLC and its affiliates.
  ~  All Rights Reserved.
  ~  This is unpublished proprietary source code of AppDynamics LLC and its affiliates.
  ~  The copyright notice above does not evidence any actual or intended publication of such source code.
  ~
  -->

<monitor>
    <name>LogMonitor</name>
    <type>managed</type>
    <enabled><%= @state %></enabled>
    <description>Log Monitoring Extension</description>
    <monitor-configuration></monitor-configuration>
    <monitor-run-task>
        <name>Log Monitor Run task</name>
        <display-name>Log Monitor Run task</display-name>
        <description>Log Monitor Run task</description>
        <type>java</type>
        <execution-style>periodic</execution-style>
        <execution-frequency-in-seconds>60</execution-frequency-in-seconds>
        <execution-timeout-in-secs>60</execution-timeout-in-secs>
        
		<task-arguments>
			<argument name="config-file" is-required="true" default-value="monitors/LogMonitor/config.yml" />
		</task-arguments>
            
        <java-task>
            <classpath>log-monitoring-extension.jar</classpath>
            <impl-class>com.appdynamics.extensions.logmonitor.LogMonitor</impl-class>
        </java-task>
        
    </monitor-run-task>
</monitor>
