metricPrefix: "Custom Metrics|Log Monitor|"

logs:
  - displayName: "Linux Messages Log"
    logDirectory: "/var/log"
    logName: "messages"
    searchStrings:
      - displayName: "EMERG"
        pattern: ": EMERG "
        matchExactString: false
        caseSensitive: true
        printMatchedString: false
      - displayName: "ALERT"
        pattern: ':\sALERT\s(?!(exited abnormally with))'
        matchExactString: false
        caseSensitive: true
        printMatchedString: false
      - displayName: "CRIT"
        pattern: ": CRIT "
        matchExactString: false
        caseSensitive: true
        printMatchedString: true
      <%# - displayName: "ERR"
        pattern: '.*?ERROR\s(?!cli.adcert)'
        pattern: '.*?:\sERROR\s(?!(cli.adcert|<bg:krb5.conf))'
        pattern: '\sERROR\s(?!(cli.adcert|<bg:krb5.conf))'
        matchExactString: false
        caseSensitive: true
        printMatchedString: false %>
      - displayName: "Out of memory - Kill"
        pattern: 'Out of memory: Kill'
        matchExactString: false
        caseSensitive: true
        printMatchedString: false

  - displayName: "Chef Client Log"
    logDirectory: "/var/log/chef"
    logName: "client.log"
    searchStrings:
      - displayName: "Error Running exception handlers"
        pattern: "ERROR: Running exception handlers"
        matchExactString: false
        caseSensitive: false
        printMatchedString: false

<%# App specific %>
<% @monitors.each do |location, regexes| -%>
  - displayName: '<%= location %>'
    logDirectory: '<%= location.split('/')[0...-1].join('/') %>'
    logName: '<%= location.split('/').last %>'
    searchStrings:
    <% regexes.each do |regex| %>
      - displayName: '<%= regex %>'
        pattern: '<%= regex %>'
        matchExactString: false
        caseSensitive: true
        printMatchedString: false
    <% end -%>
 <% end -%>

#Replaces characters in metric name with the specified characters.
# "replace" takes any regular expression
# "replaceWith" takes the string to replace the matched characters
metricCharacterReplacer:
    - replace: ":"
      replaceWith: ";"
    - replace: "\\|"
      replaceWith: "#"
    - replace: "\\,"
      replaceWith: "#"

# Number of concurrent threads
<%# One for each directory and one for each file within %>
numberOfThreads: <%= 4 + @monitors.count * 2 %>

#Thread timeout in seconds
threadTimeOut: 60