MACHINE_AGENT_HOME=<%= @appd_install_dir %>
JAVA_HOME=/local/java/appd_agent
MACHINE_AGENT_USER=<%= @appd_user %>
MACHINE_AGENT_GROUP=<%= @appd_group %>
PIDFILE=/var/run/appdynamics/appdynamics-machine-agent
CONTROLLER_HOST=<%= @contr_host %>
CONTROLLER_PORT=443
ACCOUNT_NAME=<%= @acc_name %>
ACCESS_KEY=<%= @acc_key %>
SSL_ENABLED=true
SIM_ENABLED=true
<% if %w(bie).include?(node['ihg-appdagent']['workgroup']) && node['ihg-appdagent']['datacenter'] == 'MKSD1' %>
SIM_ENABLED=false
<% end %>
MAX_METRICS=25000
HIERARCHY_PATH='<%= @hierarchy_path.gsub('|', '\|') %>'

JAVA_OPTS="-Xms512m -Xmx512m"
<% if node['ihg-appdagent']['datacenter'] == 'MKSD1' && (node['ihg-appdagent']['workgroup'] != 'apd' && node['ihg-appdagent']['function'] != 'px') %>
  JAVA_OPTS+=" -Dappdynamics.http.proxyHost=mksd1plapdpx001.c.iron-potion-771.internal"
  <% case node.chef_environment %>
  <% when 'Staging' %>
    JAVA_OPTS+=" -Dappdynamics.http.proxyPort=7443"
  <% when 'Production' %>
    JAVA_OPTS+=" -Dappdynamics.http.proxyPort=9443"
  <% end %>
<% end %>
JAVA_OPTS+=" -Dappdynamics.controller.hostName=${CONTROLLER_HOST}"
JAVA_OPTS+=" -Dappdynamics.controller.port=${CONTROLLER_PORT}"
JAVA_OPTS+=" -Dappdynamics.agent.accountName=${ACCOUNT_NAME}"
JAVA_OPTS+=" -Dappdynamics.agent.accountAccessKey=${ACCESS_KEY}"
JAVA_OPTS+=" -Dappdynamics.agent.maxMetrics=${MAX_METRICS}"
JAVA_OPTS+=" -Dappdynamics.sim.enabled=${SIM_ENABLED}"
JAVA_OPTS+=" -Dappdynamics.controller.ssl.enabled=${SSL_ENABLED}"
JAVA_OPTS+=" -Dappdynamics.machine.agent.hierarchyPath='${HIERARCHY_PATH}'"
JAVA_OPTS+=" -Dappdynamics.machine.agent.extensions.calcVolumeFreeAndUsedWithDfCommand=true"

# This is the machine_agent directory where the tier-config file will be moved to
if [ -f ${MACHINE_AGENT_HOME}/../tier-config ]; then
    source ${MACHINE_AGENT_HOME}/../tier-config
    JAVA_OPTS="${JAVA_OPTS} ${EXTRA_JAVA_OPTS}"
elif [ -f ${MACHINE_AGENT_HOME}/tier-config ]; then
    source ${MACHINE_AGENT_HOME}/tier-config
    JAVA_OPTS="${JAVA_OPTS} ${EXTRA_JAVA_OPTS}"
fi

# Specify SysV agent system properties by setting or editing JAVA_OPTS here,
# properties should be surrounded by quotes and separated from each other by space, e.g.,
# JAVA_OPTS="-D<sys-property1>=<value1> -D<sys-property2>=<value2>"
#
# Note: If you would like to change MACHINE_AGENT_USER you must also ensure that
# the desired user has read access to controller-info.xml as well as write access
# to the log file. You can change specific file permissions or, most simply, do a
# chown command to give the desired user ownership of the MACHINE_AGENT_HOME directory.
