metricPrefix: "|Custom Metrics|Process Monitor|"

# displayName: required - Metrics to be reported under this name in Controller's Metric Browser
# regex/pid/pidFile - process is fetched using this field
instances:
<% if node['ihg-appdagent']['datacenter'] =~ /(IAD|SJC)D1/i %>
  - displayName: "adclient"
    regex: ".*adclient.*"
<% end %>
<% if node['ihg-appdagent']['monitor_bluestripe'] == true %>
  - displayName: "bluestripe"
    regex: ".*bluestripe-collector.*"
<% end %>
  - displayName: "chef-client"
    regex: ".*chef-client.*"
  - displayName: "syslogd"
    regex: ".*syslogd.*"
  - displayName: "sshd"
    regex: ".*sshd.*"
  - displayName: "machine_agent"
    regex: ".*machine_agent.*"
<% if node['dmi']['system']['product_name'] == "VMware Virtual Platform" %>
  - displayName: "vmtoolsd"
    regex: ".*vmtoolsd.*"
<% end %>

<% @monitors.each do |monitor| -%>
  - displayName: "<%= monitor %>"
    regex: ".*<%= monitor %>.*"
<% end -%>

# Not necessary to modify
linux:
  process: "ps -eo pid,%cpu=CPU%,%mem=Memory%,rsz=RSS,args"


metrics:
  - CPU%:
     multiplier: 1
  - Memory%:
     alias: "Memory%"
  - RSS:
     alias: "Resident Set Size"
  - Running Instances:
     alias: "Running Instances"


# number of concurrent tasks
numberOfThreads: 2

# This is to run this in scheduled mode. In this case, the extension will fetch the data every 300 seconds
# and caches the data. The cached data will be reported to controller every min. This way there is no metric drop.
# Can be used when the data rarely changes or to reduce the load while fetching metrics every minute.
#taskSchedule:
#  numberOfThreads: 1
#  taskDelaySeconds: 300
