<!--
  ~ Copyright 2013. AppDynamics LLC and its affiliates.
  ~  All Rights Reserved.
  ~  This is unpublished proprietary source code of AppDynamics LLC and its affiliates.
  ~  The copyright notice above does not evidence any actual or intended publication of such source code.
  -->

<monitor>
    <name>ProcessMonitor</name>
    <type>managed</type>
    <enabled><%= @state %></enabled>
    <description>Processes monitor</description>
    <monitor-configuration></monitor-configuration>
    <monitor-run-task>
        <name>Processes Monitor Run Task</name>
        <display-name>Processes Monitor Task</display-name>
        <description>Processes Monitor Task</description>
        <type>java</type>
        <execution-style>periodic</execution-style>
        <execution-frequency-in-seconds>60</execution-frequency-in-seconds>
        <execution-timeout-in-secs>60</execution-timeout-in-secs>
        <task-arguments>
            <argument name="config-file" is-required="true" default-value="monitors/ProcessMonitor/config.yml"/>
        </task-arguments>
        <java-task>
            <classpath>process-monitoring-extension.jar</classpath>
            <impl-class>com.appdynamics.extensions.process.ProcessMonitor</impl-class>
        </java-task>
    </monitor-run-task>
</monitor>
