# Client level configurations, common across all sites to be monitored
clientConfig:
    maxConnTotal:    1000
    maxConnPerRoute: 1000
    ignoreSslErrors: true
    userAgent:       Mozilla/5.0 (compatible; AppDynamics UrlMonitor; http://www.appdynamics.com/)

defaultParams:
    method:          GET
    socketTimeout:   30000
    connectTimeout:  30000
    numAttempts:     1


#Sites that need to be monitored
sites:
<% @monitors.each do |mon| %>
  <%# sub needed to keep metric tree intact  %>
  - name: '<%= mon['url'].gsub(':', ';') %>'
    url: '<%= mon['url'] %>'
  <% if !mon['timeout'].empty? %>
    socketTimeout: <%= mon['timeout'] + '000' %>
  <% end %>
  <% if !mon['user'].empty? %>
    authType: BASIC
    username: '<%= mon['user'] %>'
    password: '<%= mon['pass'] %>'
  <% end %>
  <% if !mon['headers'].empty? %>
    headers:
    <% mon['headers'].each do |h| %>
      <%= h.sub(/^(.+?): (.+)$/, '\1: \'\2\'') %>
    <% end %>
  <% end %>
  <% if !mon['payload'].empty? %>
    method: POST
    requestPayloadFile: monitors/UrlMonitor/<%= mon['payload_file'] %>
  <% end %>
  <% if !mon['regex'].empty? %>
    matchPatterns:
    - name: '<%= mon['regex'] %>'
      type: substring
      pattern: '<%= mon['regex'] %>'
  <% end %>

<% end %>


#prefix used to show up metrics in AppDynamics
#This will create it in specific Tier. Replace
# metricPrefix: Server|Component:<TIER NAME OR TIER ID>|Custom Metrics|URLMonitor|
#This will create this metric in all the tiers, under this path
metricPrefix: Custom Metrics|URL Monitor|
