<!--
  ~ Copyright 2014. AppDynamics LLC and its affiliates.
  ~ All Rights Reserved.
  ~ This is unpublished proprietary source code of AppDynamics LLC and its affiliates.
  ~ The copyright notice above does not evidence any actual or intended publication of such source code.
  -->

<monitor>
        <name>UrlMonitor</name>
        <type>managed</type>
        <enabled><%= @state %></enabled>
        <description>Url monitor</description>
        <monitor-configuration></monitor-configuration>
        <monitor-run-task>
                <execution-style>periodic</execution-style>
                <execution-frequency-in-seconds>60</execution-frequency-in-seconds>
                <name>Url Monitor Run Task</name>
                <display-name>Url Monitor Task</display-name>
                <description>Url Monitor Task</description>
                <type>java</type>
                <execution-timeout-in-secs>60</execution-timeout-in-secs>
                <task-arguments>
                    <!-- config file-->
                    <argument name="config-file" is-required="true" default-value="monitors/UrlMonitor/config.yml" />
                </task-arguments>
                <java-task>
                        <classpath>url-monitoring-extension.jar</classpath>
                        <impl-class>com.appdynamics.extensions.urlmonitor.ThreadedUrlMonitor</impl-class>
                </java-task>
        </monitor-run-task>
</monitor>
