<!--
  ~ Copyright 2018. AppDynamics LLC and its affiliates.
  ~ All Rights Reserved.
  ~ This is unpublished proprietary source code of AppDynamics LLC and its affiliates.
  ~ The copyright notice above does not evidence any actual or intended publication of such source code.
  -->

<monitor>
	<name>WMQMonitor</name>
	<type>managed</type>
	<enabled>true</enabled>
	<description>Monitors IBM Websphere MQ</description>
	<monitor-configuration>
	</monitor-configuration>
	<monitor-run-task>
		<execution-style>periodic</execution-style>
		<execution-frequency-in-seconds>60</execution-frequency-in-seconds>
		<name>Websphere Messaging Queue Monitor Run Task</name>
		<display-name>Websphere Messaging Queue Monitor Task</display-name>
		<description>Websphere Messaging Queue Monitor Task</description>
		<type>java</type>
		<execution-timeout-in-secs>60</execution-timeout-in-secs>
		<task-arguments>
		    <argument name="config-file" is-required="false" default-value="monitors/WMQMonitor/config.yml"/>
		</task-arguments>
		<java-task>
			<classpath>websphere-mq-monitoring-extension.jar;/opt/mqm/java/lib/com.ibm.mq.commonservices.jar;/opt/mqm/java/lib/com.ibm.mq.jar;/opt/mqm/java/lib/com.ibm.mq.jmqi.jar;/opt/mqm/java/lib/com.ibm.mq.headers.jar;/opt/mqm/java/lib/com.ibm.mq.pcf.jar;/opt/mqm/java/lib/dhbcore.jar;/opt/mqm/java/lib/connector.jar</classpath>
			<impl-class>com.appdynamics.extensions.webspheremq.WMQMonitor</impl-class>
		</java-task>
	</monitor-run-task>
</monitor>

