numberOfThreads: 21

<% if node['ihg-appdagent']['tier_name'] == '' %>
metricPrefix: "Custom Metrics|WebsphereMQ|"
<% else %>
metricPrefix: 'Server|Component:<%= node['ihg-appdagent']['tier_name'] %>|Custom Metrics|WMQ|'
<% end %>

queueManagers:
<% @monitors.each do |manager, queueArray| %>
  - host: 'localhost'
    port: 1414

    #Actual name of the queue manager
    name: '<%= manager %>'

    transportType: 'Client'

    #Channel name of the queue manager, channel should be server-conn type.
    channelName: 'SYSTEM.ADMIN.SVRCONN'

    #user with admin level access.
    username: 'mqm'
    password: 'mqm'

    queueFilters:
      #Can provide complete queue name or generic names. A generic name is a character string followed by an asterisk (*),
      #for example ABC*, and it selects all objects having names that start with the selected character string.
      #An asterisk on its own matches all possible names.
      include: ['*']
      exclude:
        #type value: STARTSWITH, EQUALS, ENDSWITH, CONTAINS
        - type: 'STARTSWITH'
          #The name of the queue or queue name pattern as per queue filter, comma separated values
          values:
            [
              <% unless node['ihg-appdagent']['workgroup'].downcase == 'wqa' %>
              'SYSTEM',
              <% end %>
              'AMQ',
            ]

    channelFilters:
      #Can provide complete channel name or generic names. A generic name is a character string followed by an asterisk (*),
      #for example ABC*, and it selects all objects having names that start with the selected character string.
      #An asterisk on its own matches all possible names.
      include: ['*']
      exclude:
        #type value: STARTSWITH, EQUALS, ENDSWITH, CONTAINS
        - type: 'STARTSWITH'
          #The name of the queue or queue name pattern as per queue filter, comma separated values
          values: ['SYSTEM']

    listenerFilters:
      #Can provide complete channel name or generic names. A generic name is a character string followed by an asterisk (*),
      #for example ABC*, and it selects all objects having names that start with the selected character string.
      #An asterisk on its own matches all possible names.
      include: ['*']
      # exclude:
      #   #type value: STARTSWITH, EQUALS, ENDSWITH, CONTAINS
      #   - type: 'STARTSWITH'
      #     #The name of the queue or queue name pattern as per queue filter, comma separated values
      #     values: ['SYSTEM']

    topicFilters:
      # For topics, IBM MQ uses the topic wildcard characters ('#' and '+') and does not treat a trailing asterisk as a wildcard
      # https://www.ibm.com/support/knowledgecenter/en/SSFKSJ_7.5.0/com.ibm.mq.pla.doc/q005020_.htm
      include: ['#']
      exclude:
        #type value: STARTSWITH, EQUALS, ENDSWITH, CONTAINS
        - type: 'STARTSWITH'
          #The name of the queue or queue name pattern as per queue filter, comma separated values
          values: ['SYSTEM', '$SYS']
<% end %>

mqMetrics:
  # This Object will extract queue manager metrics
  - metricsType: 'queueMgrMetrics'
    metrics:
      include:
        - Status:
            alias: 'Status'
            ibmConstant: 'com.ibm.mq.constants.CMQCFC.MQIACF_Q_MGR_STATUS'
            aggregationType: 'OBSERVATION'
            timeRollUpType: 'AVERAGE'
            clusterRollUpType: 'INDIVIDUAL'
        - ConnectionCount:
            alias: 'ConnectionCount'
            ibmConstant: 'com.ibm.mq.constants.CMQCFC.MQIACF_CONNECTION_COUNT'

  # This Object will extract queue metrics
  - metricsType: 'queueMetrics'
    metrics:
      include:
        - MaxQueueDepth:
            alias: 'Max Queue Depth'
            ibmConstant: 'com.ibm.mq.constants.CMQC.MQIA_MAX_Q_DEPTH'
            ibmCommand: 'MQCMD_INQUIRE_Q'

        - CurrentQueueDepth:
            alias: 'Current Queue Depth'
            ibmConstant: 'com.ibm.mq.constants.CMQC.MQIA_CURRENT_Q_DEPTH'
            ibmCommand: 'MQCMD_INQUIRE_Q'

        - OpenInputCount:
            alias: 'Open Input Count'
            ibmConstant: 'com.ibm.mq.constants.CMQC.MQIA_OPEN_INPUT_COUNT'
            ibmCommand: 'MQCMD_INQUIRE_Q'

        - OpenOutputCount:
            alias: 'Open Output Count'
            ibmConstant: 'com.ibm.mq.constants.CMQC.MQIA_OPEN_OUTPUT_COUNT'
            ibmCommand: 'MQCMD_INQUIRE_Q'

        - OldestMsgAge:
            alias: 'OldestMsgAge'
            ibmConstant: 'com.ibm.mq.constants.CMQCFC.MQIACF_OLDEST_MSG_AGE'
            ibmCommand: 'MQCMD_INQUIRE_Q_STATUS'
            aggregationType: 'OBSERVATION'
            timeRollUpType: 'CURRENT'
            clusterRollUpType: 'INDIVIDUAL'

        - OnQTime:
            ibmConstant: 'com.ibm.mq.constants.CMQCFC.MQIACF_Q_TIME_INDICATOR'
            ibmCommand: 'MQCMD_INQUIRE_Q_STATUS'
            aggregationType: 'OBSERVATION'
            timeRollUpType: 'CURRENT'
            clusterRollUpType: 'INDIVIDUAL'

        - UncommittedMsgs:
            alias: 'UncommittedMsgs'
            ibmConstant: 'com.ibm.mq.constants.CMQCFC.MQIACF_UNCOMMITTED_MSGS'
            ibmCommand: 'MQCMD_INQUIRE_Q_STATUS'

        - HighQDepth:
            alias: 'HighQDepth'
            ibmConstant: 'com.ibm.mq.constants.CMQC.MQIA_HIGH_Q_DEPTH'
            ibmCommand: 'MQCMD_RESET_Q_STATS'

        - MsgDeqCount:
            alias: 'MsgDeqCount'
            ibmConstant: 'com.ibm.mq.constants.CMQC.MQIA_MSG_DEQ_COUNT'
            ibmCommand: 'MQCMD_RESET_Q_STATS'

        - MsgEnqCount:
            alias: 'MsgEnqCount'
            ibmConstant: 'com.ibm.mq.constants.CMQC.MQIA_MSG_ENQ_COUNT'
            ibmCommand: 'MQCMD_RESET_Q_STATS'

  # This Object will extract channel metrics
  - metricsType: 'channelMetrics'
    metrics:
      include:
        - Messages:
            alias: 'Messages'
            ibmConstant: 'com.ibm.mq.constants.CMQCFC.MQIACH_MSGS'

        - Status:
            alias: 'Status'
            ibmConstant: 'com.ibm.mq.constants.CMQCFC.MQIACH_CHANNEL_STATUS' #http://www.ibm.com/support/knowledgecenter/SSFKSJ_7.5.0/com.ibm.mq.ref.dev.doc/q090880_.htm
            aggregationType: 'OBSERVATION'
            timeRollUpType: 'AVERAGE'
            clusterRollUpType: 'INDIVIDUAL'

        - ByteSent:
            alias: 'Byte Sent'
            ibmConstant: 'com.ibm.mq.constants.CMQCFC.MQIACH_BYTES_SENT'

        - ByteReceived:
            alias: 'Byte Received'
            ibmConstant: 'com.ibm.mq.constants.CMQCFC.MQIACH_BYTES_RECEIVED'

        - BuffersSent:
            alias: 'Buffers Sent'
            ibmConstant: 'com.ibm.mq.constants.CMQCFC.MQIACH_BUFFERS_SENT'

        - BuffersReceived:
            alias: 'Buffers Received'
            ibmConstant: 'com.ibm.mq.constants.CMQCFC.MQIACH_BUFFERS_RECEIVED'

  # This Object will extract listener metrics
  - metricsType: 'listenerMetrics'
    metrics:
      include:
        - Status:
            alias: 'Status'
            ibmConstant: 'com.ibm.mq.constants.CMQCFC.MQIACH_LISTENER_STATUS'
            aggregationType: 'OBSERVATION'
            timeRollUpType: 'AVERAGE'
            clusterRollUpType: 'INDIVIDUAL'

  # This Object will extract topic metrics
  - metricsType: 'topicMetrics'
    metrics:
      include:
        - PublishCount:
            alias: 'Publish Count'
            ibmConstant: 'com.ibm.mq.constants.CMQC.MQIA_PUB_COUNT'
            ibmCommand: 'MQCMD_INQUIRE_TOPIC_STATUS'
        - SubscriptionCount:
            alias: 'Subscription Count'
            ibmConstant: 'com.ibm.mq.constants.CMQC.MQIA_SUB_COUNT'
            ibmCommand: 'MQCMD_INQUIRE_TOPIC_STATUS'
